* {

    font-family: 'Open Sans', sans-serif;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #1778bd;
    min-height: 100vh;

}

p1 {
    color: darkgrey;
    font-size: 13px;
    text-align: right;
    padding-bottom: 10px;
    
    
}
section {

	background-color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
    
}

.blog-container {

    display: flex;
    flex-direction: column;
	padding: 20px;
    background-color: #ffffff;
    font-weight: bold;
    box-shadow: 0px 0px 30px -15px #000000;
	border-radius: 10px;
}

nav {

    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    background-color: #ffffff;
    left: 0px;
    

}

nav:hover {

box-shadow:0 0px 20px #1f1e1e;

}

section nav div {

    height: 30px;
    padding: 10px;
    
    

}

div img {

    height: 100%;

}

.search-container {
	
	background-color: white;
    display:inline-flex;
    margin: 0 auto;
	
}

nav div.search-container > input {

    box-sizing: border-box;
    height: 30px;
    width: 300px;
    margin: 0;
    padding: 4px;
    border: 1px solid #e0e0e0;

}

nav div.search-container > button {

    box-sizing: border-box;
    height: 31px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: darkblue;
    color:aliceblue

}
