* {

    font-family: 'Open Sans', sans-serif;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #1778bd;
    min-height: 100vh;

}

section {

	background-color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
    
}

.blog-container {

    display: flex;
    flex-direction: column;
	padding: 20px;
    background-color: #ffffff;
    font-weight: bold;
    box-shadow: 0px 0px 30px -15px #000000;
	border-radius: 10px;

}

nav {

    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99999;
    display: flex;
    background-color: #ffffff;
    align-items: center;

}

nav:hover {

box-shadow:0 0px 20px #1f1e1e;

}

nav div {

    height: 30px;
    flex-grow: 2;
    padding: 10px;

}

nav div img {

    height: 100%;

}

.search-container {
	
	background-color: white;
	
}

nav div.search-container > input {

    box-sizing: border-box;
    height: 30px;
    width: 300px;
    margin: 0;
    padding: 4px;
    border: 1px solid #e0e0e0;

}

nav div.search-container > button {

    box-sizing: border-box;
    height: 30px;
    width: 0px;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #e0e0e0;

}
